<p id="notice"><%= notice %></p>

<h1>Speed Reading</h1>
<center>
  <div id="page"></div>
  <div id="page_number" style="margin-top:50px;"></div>
</center>

<%= link_to "UpLoad PDF", uploads_path %>


